<h1 mat-dialog-title>{{ data.type }} rapide</h1>
<div mat-dialog-content [formGroup]="form">
  <mat-form-field class="w-100">
    <mat-label>Client</mat-label>
    <input matInput formControlName="client">
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Montant</mat-label>
    <input matInput type="number" formControlName="montant">
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>TVA (%)</mat-label>
    <input matInput type="number" formControlName="tva">
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Annuler</button>
  <button mat-raised-button color="primary" (click)="soumettre()" [disabled]="form.invalid">Créer</button>
</div>
