<div class="template-gallery">
  <h2>Choisissez un modèle</h2>
  <div class="template-grid">
    <div class="template-card" (click)="openTemplateForm()">
      <div class="template-preview contrat-template"></div>
      <p>Convention bancaire</p>
    </div>
    <!-- Modèle 1 -->
    <div class="template-card" (click)="openTemplateForm()">
      <div class="template-preview contrat-template"></div>
      <p>Contrat Standard</p>
    </div>
    <!-- Modèle 2 -->
    <div class="template-card" (click)="openTemplateForm()">
      <div class="template-preview releve-template"></div>
      <p>Relevé Bancaire</p>
    </div>
    <!-- Modèle 3 -->
    <div class="template-card" (click)="openTemplateForm()">
      <div class="template-preview attestation-template"></div>
      <p>attestation de travail</p>
    </div>
    <!-- Modèle 4 -->
    <div class="template-card" (click)="openTemplateForm()">
      <div class="template-preview attestation-template"></div>
      <p>attestation de stage</p>
    </div>
    <!-- Modèle 5 -->
    <div class="template-card" (click)="openTemplateForm()">
      <div class="template-preview lettre-template"></div>
      <p>lettre de stage</p>
    </div> 
    <!-- Modèle 6 -->
    <div class="template-card" (click)="openTemplateForm()">
      <div class="template-preview recette-template"></div>
      <p>Document de recette</p>
    </div>

  </div>
</div>